<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>products</h1>
        <table border="3px">
            <tr>
                <th>product Name</th>
                <th>quantity</th>
                <th>ID</th>
                <th>company</th>
                <th>location</th>
            </tr>
            <tr>
                <td>slate</td>
                <td>300</td>
                <td>101</td>
                <td>Jspiders</td>
                <td>Chagallu</td>
            </tr>
            <tr>
                <td>pencil</td>
                <td>550</td>
                <td>102</td>
                <td>Pyspiders</td>
                <td>guntur</td>
            </tr>
            <tr>
                <td>Plate</td>
                <td>700</td>
                <td>103</td>
                <td>Qspiders</td>
                <td>kadapa</td>
            </tr>
            <tr>
                <td>bottle</td>
                <td>450</td>
                <td>104</td>
                <td>Accenture</td>
                <td>Nellore</td>
            </tr>
            <tr>
                <td>bags</td>
                <td>600</td>
                <td>105</td>
                <td>infosys</td>
                <td>Narasarao pet</td>
            </tr>
        </table>
    </center>
</body>
</html>