<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Schools</h1>
        <table border="3px">
            <tr>
                <th>School Name</th>
                <th>No.of Students</th>
                <th>Principal</th>
                <th>No of Teachers</th>
                <th>Location</th>
            </tr>
            <tr>
                <td>M.P.U.P school</td>
                <td>300</td>
                <td>Ramesh Reddy</td>
                <td>15</td>
                <td>Chagallu</td>
            </tr>
            <tr>
                <td>Z.P.High school</td>
                <td>550</td>
                <td>Vijay</td>
                <td>25</td>
                <td>guntur</td>
            </tr>
            <tr>
                <td>A.P model School</td>
                <td>700</td>
                <td>Blessie</td>
                <td>35</td>
                <td>kadapa</td>
            </tr>
            <tr>
                <td>Delhi Public School</td>
                <td>1000</td>
                <td>jaya raj</td>
                <td>40</td>
                <td>Nellore</td>
            </tr>
            <tr>
                <td>S.K.C Model school</td>
                <td>600</td>
                <td>Sowjanya</td>
                <td>35</td>
                <td>Narasarao pet</td>
            </tr>
        </table>
    </center>
</body>
</html>